<% include ./partials/header %> 

<h1>About WhatGoesIn!</h1>

<p>
    This site is designed to help track your daily nutrition intake and help display if you are reaching healthy levels. Using the latest research on nutrition, 
    we use your age, weight, and height to design your needs / results on an individual level.
</p>

<% include ./partials/footer %> 
