<% include ./partials/header %> 

<h3>Contact us at whatgoesin@outlook.com</h3>
<h3>Need help? Contact Support at whatgoesin.support@outlook.com</h3>
<h3>Interested in our website? We'll develop yours too!</h3>
<p>Contact whatgoesin.development@outlook.com if interested in hiring us to develop your website!</p>

<% include ./partials/footer %> 
