<!DOCTYPE html>
<html>
    <head>
        <title>WhatGoesIn</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container" id="slideshow">
        <div id="landing-header">
            <h1>Welcome to WhatGoesIn!</h1>
            <a href="/login" class="btn btn-md btn-success">Login</a>
            <a href="/register" class="btn btn-md btn-success">Register</a>
            
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <div class="card col-md-3 col-sm-6 p-2">
                    <div class="card-body">
                        <h3 class="card-title">About</h3>
                        <p class="card-text">Read about us and our mission! We blieve a healthy, happy body is necessary for a happy mind!</p>
                        <a href="/about" class="btn btn-primary">Read more about us!</a>
                    </div>
                </div>
        
                <div class="card col-md-3 col-sm-6 p-2">
                    <div class="card-body">
                        <h3 class="card-title">Pre-Defined Plans</h3>
                        <p class="card-text">Check out our own weekly meal plans and recipe ideas to help make it easier on you!</p>
                        <a href="#" class="btn btn-primary">Meal Plans</a>
                    </div>
                </div>
                
                <div class="card col-md-3 col-sm-6 p-2">
                    <div class="card-body">
                        <h3 class="card-title">User Home Page</h3>
                        <p class="card-text">Already logged in? Add a meal here!</p>
                        <a href="/user" class="btn btn-primary">Add a Meal</a>
                    </div>
                </div>
                
                <div class="card col-md-3 col-sm-6 ">
                    <div class="card-body">
                        <h3 class="card-title">Contact</h3>
                        <p class="card-text">Questions, Comments, Concernes, anything just email us today!</p>
                        <a href="/contact" class="btn btn-primary p-5">Contact Info.</a>
                    </div>
                </div>
                
                
            </div>
            
            
        </div>
    

        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        
    </div>
    
<% include partials/footer %>